@import './_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;

    font-family: 'Montserrat', sans-serif;
    background-color: $white;

    overflow-x: hidden;
}

.contentsInfo {
    @include size(100%, 60px);

    background-color: $black-light;
    color: $white;
    font-weight: 500;

    @include alignItems(none, center, center);
}

#textContentsShipping {
    font-size: 1rem;
}

#titleNameSite {
    @include size(100%, 60px);

    font-size: 1.5rem;
    font-weight: 600 ;

    color: $black-light;

    @include alignItems(none, center, center);
}

#spaceMerchan {
    width: 100%;
    height: 378px;   
    
    background-image: url('/assets/img/air-jordan.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include alignItems(column, none, center);
}

#textsSpace {
    margin-left: 10%;
}

#titleMerchan, #descriptionMerchan {
    color: $white;
}

#titleMerchan {
    font-weight: 700;
    font-size: 2rem;
}

#descriptionMerchan {
    width: 50%;
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 35px;
}

.models {
    display: none;
}

.card {
    @include alignItems(column, center, center);
    height: 300px;
    flex: 0 1 300px;
    background-color: $white-200;
    text-align: center;
}

.contentsImage {
    margin-bottom: 8px;
}

.spaceValue {
    color: $gray;
    font-size: 1.2rem;
    font-weight: 600;
}

.priceShoes {
    font-size: 1rem;
    font-weight: 400;
    margin: 8px 0 20px 0;
}

.taxado {
    color: $red;
}

.buttonBuy {
    text-decoration: none;
    background-color: $black-light;
    color: $white;
    padding: 5% 5%;
    transition: .8s;
}

.buttonBuy:hover {
    background-color: $gray;
    color: $white-200;
}

#shoppingCartSpace {
    background-color: $black-light;

    @include alignItems (row, center, center);
    width: 60px;
    height: 60px;
    border-radius: 50%;

    top: 78%;
    left: 94%;
    position: fixed;
    cursor: pointer;
    
    transition: .4s;
}

#shoppingCartSpace:hover {
    width: 65px;
    height: 65px;
} 

#shoppingCartIcon {
    width: 40px;
    height: 40px;
    color: $white-200;
    transition: .3s;
}

#shoppingCartIcon:hover {
    width: 37px;
    height: 37px;
}

// Carrinho de compras
#salesCart {
    display: none;

    width: 450px;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 71%;

    background-color: $white-200;
    z-index: 1000;

}

#closeBtn {
    width: 20px;
    height: 20px;

    color: $black-light;
    margin: 10px;
    
    cursor: pointer;
}

#contentsShopping {
    @include margin(10px, auto, 0, auto);
    width: 95%;
    height: 85%;
}

#titleShoppingCart {
    margin-bottom: 20px;
    font-weight: 700;
}

#infomationShop {
    width: 100%;

    @include alignItems(row, center, space-between);
    background-color: #0000;

    margin-bottom: 25px;

    h3 {
        width: 50%;
        color: $gray;
        text-align: center;
        font-weight: 600;
        font-size: 1.125rem;
    }
}

#products {
    width: 100%;
    height: 90%;
    margin-bottom: 10px
}

#listTable {
    @include margin(0, auto, 0, auto);
    @include alignItems(row, none, none);
    flex-wrap: wrap;

    overflow-y: auto;

    width: 80%;
    height: 100%;

    p, small {
        padding-bottom: 15px;
    }

    p {
       width: 70%;

       font-size: 1rem;
       font-weight: 500;
    }

    small {
        width: 30%;
        font-weight: 300;
    }
    
}

table {
    width: 100%;
    text-align: center;

    thead {
        background-color: $white;
    }

    tbody {
        td {
            height: 30px;
        }
    }
}

#textSpaceShoes {
    @include alignItems(column, center, center);
    margin-bottom: 59px;
}

#titleDestaques {
    @include margin(58px, 0, 10px, 0);
    font-size: 2rem;
    color: $black-light;
    font-weight: 600;
}

#descriptionSubtitle {
    font-size: 1.12rem; 
    font-weight: 32px;
    color: $gray;
}

#contentesCards {
    width: 90%;
    margin: 0 auto 112px auto;
    @include alignItems(row, center, center);
    flex-wrap: wrap;
    gap: 39px 13px;
}

#textFooter {
    font-size: 1.1rem;
}

#vini {
    text-decoration: none;
    color: $white-200;
    transition: .6s;
}

#vini:hover {
    text-decoration: none;
    color: $red;
}

@media (max-width: 1408px) {
    #salesCart {
        width: 30%;
        right: 0;
    }
}

@media (max-width: 1034px) {
    #shoppingCartSpace {
        left: 93%;
    } 

    #salesCart {
        width: 40%;
        left: 60%;
    }
}

@media (max-width: 898px) {
    #shoppingCartSpace {
        left: 90%;
    } 
}

@media (max-width: 736px) {
    #spaceMerchan {
        width: 100%;
        height: 378px;   
        
        background-image: url('/assets/img/air-jordan.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;

    }
}

@media (max-width: 678px) {
    #shoppingCartSpace {
        left: 83%;
    } 

    #salesCart {
        width: 60%;
        left: 40%;
    }
}

@media (max-width: 643px) {
    #textsSpace {
        @include alignItems (column, center, center);
        margin-left: 0;
    }

    #titleMerchan {
        width: 90%;
        font-size: 1.75rem;
    }
    
    #descriptionMerchan {
        width: 90%;
        font-size: 1rem;
    }

    #descriptionSubtitle {
        width: 90%;
        text-align: center;
    }
}

@media (max-width: 591px) {
    #salesCart {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 370px) {
    #shoppingCartSpace {
        left: 78%;
    } 
}
 
@media (max-width: 324px) {
    #textContentsShipping, #textFooter {
        font-size: 0.8rem;
    }
}

